* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    min-height: 100vh;
}

nav {
    display: flex;
    height:80px;
    background-color: azure;
    align-items: center;
    box-shadow: 1px 1px 10px grey;
}

nav ul {
    list-style-type: none;
    font-size: 2rem;
    font-weight: 800;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex: 1;
}

.add-book {
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    
    font-size: 1.5rem;
    cursor: pointer;
}

.add-book:hover {
    background-color: rgb(128, 128, 128);
}

.book-shelf {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.book {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
    justify-content: space-evenly;
}

.read, .not-read, .remove {
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 5px;
}

.read {
    background-color: rgba(0, 128, 0, 0.418);
}

.not-read {
    background-color: red;
}

button.remove {
    background-color: rgba(211, 211, 211 / 0.3);
    border: none;
    cursor: pointer;
}

.remove:hover {
    background-color: rgb(128, 128, 128);
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 30px;
    background-color: rgb(211, 211, 211);
    transform: translate(-50%, -50%);
    border: none;
    box-shadow: 0 4px 10x rgba(0, 0, 0, 0.1);
}

.close-button {
    background: none; 
    border: none;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    position: absolute;
    right: 10px; 
    top: 10px;
    font-size: 2rem;
}

.close-button:hover {
    color: red; /* Change color on hover for visual feedback */
}


input[type="text"], input[type="number"] {
    height: 40px;
    width: 280px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

dialog div button {
    background-color: aqua;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 10px;
    cursor: pointer;
}

footer {
    width: 100vw;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 679px) {
    .book {
        width: 90%;
    }
}
